/* Portales Custom Styles */

/* modify fonts */

body,
.navbar-logo-text,
.list-group-item-heading,
.announcement-summary-date,
.article-details-issue-identifier,
.article-summary-title,
.article-summary-date,
.announcement-date,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Cormorant Garamond', Georgia, serif;
}

.page-content p,
.page-content li,
.submissions-checklist {
  font-size: 19px;
}

/* top nav */

.main-header {
  background-color: #62a5d1;
}

.top-nav {
  border-bottom: 1px solid #ddd;
}

.navbar-default {
  background: white;
  border-bottom: 1px solid #ddd;
}

.navbar-default .nav > li > a:hover {
  background-color: #ccc;
}

@media (min-width: 992px) {

  .navbar-logo img {
    max-height: 170px;
  }
}

.navbar-nav {
  font-size: 15px;
  padding-top: 11px;
}

.search-form {
  border-top: 1px solid #ddd;
}

.homepage-image .img-responsive {
  width: 100%;
}

footer.site-footer {
  background: #62a5d1;
}

/* footer widgets */

@media (min-width: 992px) {

  .site-footer .pkp_block {
    flex: 0 0 50%;
    width: 50%;
  }
}
