/* Al-Usur al-Wusta (alusur) — Custom Styles */

/* fonts */

body {
  font-family: 'Times New Roman', arial, sans-serif;
}

/* header */

.main-header {
  background-color: #333;
}

#primaryNav .nav-link,
#primaryNav .nav-link:focus,
#primaryNav .nav-link:hover,
#userNav .nav-link {
  color: #fff;
}

/* logo size */

@media (min-width: 992px) {
  .navbar-logo img {
    max-height: 160px;
  }
}
