/* CICE Custom Styles */

/* fonts */

body,
.navbar-logo-text,
.list-group-item-heading,
.announcement-summary-date,
.article-details-issue-identifier,
.article-summary-title,
.article-summary-date,
.announcement-date,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.page-content p,
.page-content li,
.submissions-checklist {
  font-family: 'Lora', serif;
  font-size: 19px;
}

/* header */

.main-header {
  background-color: #b3b3ff;
}

/* logo size */

@media (min-width: 992px) {
  .navbar-logo img {
    max-height: 190px;
  }
}


/* link color */

a {
  color: #9999ff;
}

/* footer styling */

.site-footer {
  background: #b3b3ff;
}

.site-footer h3 {
  font-size: 1.5rem;
}

.site-footer p {
  font-size: 18px;
}

/* modify footer blocks */

@media (min-width: 992px) {

  .site-footer .pkp_block {
    flex: 0 0 50%;
    width: 50%;
  }
}

/* twitter widget */

#customblock-Twitter {
  background: #35358e;
  border-radius: 5px;
}
