/* Consilience (consilience) — Custom Styles */

/* fix layout issue OJS-317 */

@media (min-width: 1200px) {
  .issue-only-image {
      margin-top: auto;
  }
}

.homepage-announcements {
  background: #fff;
  margin-bottom: 65px;
}

/* main styles */

body {
  font-family: "pt serif";
  font-size: 18px;
}

/* modify header fonts */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .article-summary-title {
  color: #0e4d92;
  font-weight: 600;
  font-size: 20px;
}

.main-header,
.article-summary {
  background-color: white;
}

.issue-toc-section-title {
  color: #64a5eb;
}

@media (min-width: 992px) {

  .navbar-brand {
    height: 140px;
  }
}

.navbar-nav {
  font-size: 15px;
  padding-top: 11px;
}

a {
  color: #093b71;
}

a:hover {
  color: #0655ab;
}

.btn-primary {
  background-color: #093b71;
  border-color: #093b71;
}

.btn-primary:hover {
  background-color: #0655ab;
  border-color: #0655ab;
  color: white;
}

footer.site-footer {
  background: #093b71;
}
