/* OJS-292: hide current issue box from homepage while site is on hiatus */

.homepage-issue-current,
.homepage-issue-identifier,
.homepage-issue-published,
.homepage-issue-header {
	display: none;
}

/* Current Musicology Custom Styles */

.main-header {
  background: url(https://journals.library.columbia.edu/public/journals/1/pageHeaderLogoImage_en_US.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.main-header .container {
  max-width: none;
  padding: 0;
}

.navbar {
  background: white;
}

.navbar-logo {
  padding-top: 18em;
  padding-bottom: 18em;
}

.navbar-logo img {
  max-width: 230px;
}

.navbar-logo a {
  display: none;
}

#primaryNav {
  border-bottom: 1px solid #ddd;
  padding: 6px 0;
}
