/* Current Musicology (currentmusicology) — Custom Styles */

.navbar {
  background: linear-gradient(to bottom, rgba(185,217,235,1) 0%, rgba(185,217,235,0.6) 100%);
}

.navbar-logo {
  padding-top: 18em;
  padding-bottom: 18em;
}

.navbar-logo img {
  max-width: 230px;
}

#primaryNav {
  border-bottom: 1px solid #ddd;
}
