/* Current Musicology (currentmusicology) - Custom Styles */

.navbar-default {
  background: linear-gradient(to bottom, rgba(185,217,235,1) 0%, rgba(185,217,235,0.6) 100%);
  border: none;
  color: currentColor;
}

/* logo size */

.navbar-brand {
  height: 140px;
  padding: 10px;
}

/* nav link color */

.navbar-default .nav>li>a {
  color: #333;
}