/* Iggrot Ha'Ari (ari) — Custom Styles */

/* fonts */

body {
  font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

.main-header {
  background-color: #e6ecff;
}

/* logo size */

@media (min-width: 992px) {
  .navbar-logo img {
      max-height: 250px;
  }
}