/* The Columbia Journal of Law & the Arts (lawandarts) — Custom Styles */

/* fix layout issue OJS-317 */

@media (min-width: 1200px) {
  .issue-only-image {
      margin-top: auto;
  }
}

/* fonts */

body {
  font-family: 'EB Garamond', serif;
}

/* link color */

a {
  color: #2b6da3;
}

/* footer styling */

.site-footer {
  background: #2b6da3;
}

.site-footer h3 {
  font-size: 1.5rem;
}

.site-footer p {
  font-size: 18px;
}
